
  
  
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="../../assets/images/img-01.png">
				</div>
				

				<form class="login100-form validate-form"  [formGroup]="profileForm"  (ngSubmit)="onSubmit($event)">
					<span class="login100-form-title">
						Member Registration
					</span>


					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input type="text" id="login"formControlName="username" [(ngModel)]="name" name="uasername" placeholder="name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<span *ngIf="!profileForm.get('Emailid').valid && profileForm.get('Emailid').touched" class="help-block">please Enter a valid Email-Id with . and @ </span><br>


					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input type="text" id="login"formControlName="Emailid" [(ngModel)]="username" name="login" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<span *ngIf="!profileForm.get('Emailid').valid && profileForm.get('Emailid').touched" class="help-block">please Enter a valid Email-Id with . and @ </span><br>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input type="password" id="password"formControlName="password" name="login" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
				</div>
					<span *ngIf="profileForm.controls['password'].hasError('hasNumber') && profileForm.get('password').touched; then notShow11; else notShow"></span>
					<ng-template #notShow11>
					 <span  > Must have at least 1 number!</span>
					</ng-template>
					
					
					
					<ng-template  #notShow  >
					 <span *ngIf="profileForm.controls['password'].hasError('hasCapitalCase') && profileForm.get('password').touched else notShow1" class="text-danger">
					 Must have at least 1 Capital Case!
					 </span>
					</ng-template>
					
					
					<ng-template #notShow1>
					<span
					
					*ngIf="profileForm.controls['password'].hasError('haslengthCase') && profileForm.get('password').touched else notShow12">
					Must have length 1 special charecter!
					</span>
					</ng-template>
					
					
					<ng-template #notShow12>
					<span *ngIf="profileForm.get('password').errors?.minlength  && profileForm.get('password').touched else notShow13">
					Please enter minimum 8 charecter
					</span>
					</ng-template>
					<ng-template #notShow13>
					<span
					*ngIf="profileForm.get('password').errors?.required  && profileForm.get('password').touched">
					Please enter the password!
					</span>
					</ng-template>
                    <br>

                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input type="password" id="cpassword" formControlName="cpassword" name="cpassword" placeholder="Confirm">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							
                            <i class="fa fa-check" aria-hidden="true"></i>
                            
						</span>
                    </div>
                    <span *ngIf="profileForm.get('cpassword').errors?.required  && profileForm.get('cpassword').touched else notShow345">please enter the confirm password</span>
                    <ng-template #notShow345>
                        <span  *ngIf="!profileForm.get('cpassword').valid && profileForm.get('cpassword').touched" class="help-block">please Match above password</span><br>
                        </ng-template>
                   
                    
					<div class="container-login100-form-btn">
						<button class="login100-form-btn"  [disabled]=!profileForm.valid>
							Registration
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							<!-- Forgot -->
						</span>
						<a class="txt2" href="#">
							<!-- Username / Password? -->
						</a>
					</div>

					<div class="text-center p-t-136">
						<div class="txt2" href="#" (click)="onlogin()" style="cursor: pointer;">
							<i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
							Login
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	